body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#e66465, #9198e5);
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

button {
    background-color: darkseagreen;
    padding: 1rem;
    font-style: italic;
    transition: 1s ease-out all;
}

button:hover {
    background-color: green;
}

h1 {
    font-size: 3em;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .8rem;
}

.binary-table-container {
    border: crimson solid .2rem;
    background-color: bisque;
}

table {
    background-color: bisque;
    text-align: center;
    width: 30rem;
    font-size: 3em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

thead {
    background-color: coral;
}

input {
    width: 5rem;
    height: 2em;
    text-align: center;
    font-size: .4em;
}

th {
    padding: 1rem;
}

td {
    padding: .2rem .1rem .6rem .1rem;
    border: firebrick solid .1rem;
}

th, td {
    width: 33%;
}

.bin-option {
    animation: background-bin-option 1s ease-in-out infinite alternate;
}

.bin-option:hover {
    cursor: pointer;
    background-color: grey;
}

#result {
    font-size: 3em;
}

@keyframes background-bin-option {
    to {
        background-color: lightslategray;
    }
}

@keyframes result-animate {
    from {
        transform: scale(.7);
    } to {
        transform: scale(1);
    }
}